.__chorme-extensions-easy-fanyi{
  position: fixed;
  max-width: 200px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .8) 2px 2px 10px 1px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  word-wrap: break-word;
  font-size: 12px;
  z-index: 9999;
}
.__chorme-extensions-easy-fanyi p{
  font-size: 12px;
  margin: 0 5px
}
